section#career.career
	h3 Карьера в «Байбол»
	p Компания Байбол — уникальное место, где можно начать или продолжить карьеру.
	.content
		.video
			<iframe width="593" height="418" src="https://www.youtube.com/embed/VoA-aQu75Xk" frameborder="0" allowfullscreen></iframe>
		.right
			ul
				li полностью проявить себя и свои способности
				li получить неоценимый опыт
				li реализовать возможности личного и
					br
					| профессионального роста и сделать карьеру
				li полностью проявить себя и свои способности
				li получить неоценимый опыт
				li реализовать возможности личного и
					br
					| профессионального роста и сделать карьеру
			button Откликнуться