footer.footer
	.content
		.small
			.logo
				img(src="img/logo.png")
			a(href="tel:88005505757").footer__phone 8 800 550-57-57
				br
				span Бесплатный звонок по всей России
			p.footer__time Время работы call-центра:
				span.text__red 24 часа
			.footer__social
				a(href="#")
					i.fa.fa-twitter(aria-hidden="true")
				a(href="#")
					i.fa.fa-vk(aria-hidden="true")
				a(href="#")
					i.fa.fa-facebook(aria-hidden="true")
				a(href="#")
					i.fa.fa-instagram(aria-hidden="true")
				a(href="#")
					i.fa.fa-odnoklassniki(aria-hidden="true")
				a(href="#")
					i.fa.fa-youtube-play(aria-hidden="true")
		.large
			.footer__buttons
				.btn.btn__gray Обратный звонок
				.btn.btn__red Бесплатная консультация
			br
			.footer__about
				p ООО МКК "Байбол" зарегистрирован в реестре МФО ЦБ РФ за номером 1603140007889 от 10.08.2016 года. ОГРН 1167847251000. Юридический адрес: 197342, г. Санкт-Петербург, ул. Сердобольская, 64, лит.К, офис 528.
				p Все материалы, статьи и изображения, расположенные на сайте, являются объектом авторского права и могут быть перепечатаны только при условии разрешения на публикацию от пресс-службы компании.
			br
			.footer__links
				a(href="#") Политика в отношении обработки персональных данных
.overlay
	.overlay--inner
		form(action="")
			.close
			h2 Вакансия маркетолог
			input(type="text" placeholder="Ваше имя")
			input(type="text" placeholder="Ваше имя")
			input(type="text" placeholder="Ваше имя")
			input(type="text" placeholder="Ваше имя")
			input(type="text" placeholder="Ваше имя")
			input(type="text" placeholder="Ваше имя")
			input(type="text" placeholder="Ваше имя")
			input(type="text" placeholder="Ваше имя")
			.file-wrapper
				.file-upload
					label
						input(type='file', name='file')
						span Прикрепить резюме
			.form__bottom
				label
					input#check.checkbox(type='checkbox', required='true')
					span.checkbox-custom
					span.label
						a(href='https://baibol.ru/upload/docs/personal_data.pdf') Я согласен на обработку персональных данных
				input(type='submit', onclick="yaCounter45290457.reachGoal('ZAYAVKA'); return true;", value='Отправить')


script(src="vendors/vendors.js")
script(src="js/app.js")