header#header
	.burger-menu
		.burger
	.content
		nav
			a(href="#").logo
				img(src="img/logo.png", alt="logo")
				.logo__text
					| Легко. Для своих
			ul.menu
				li.menu--item.hide__xl
					.logo__text__xs
						| Легко. Для своих
				li.menu--item
					a(href="#job") Направления
				li.menu--item
					a(href="#career") Вакансии
				li.menu--item
					a(href="#section-4") О компании
				li.menu--item
					a(href="#open") Постройте карьеру
				li.menu--item
					a.menu--item__lang(href="#top") Русский
				li.menu--item.hide__xl
					.contacts
						a(href="tel:88005505757").phone 
							| 8 (800) 550-57-57
							br
							span.phone__for-free
								|	Бесплатный звонок по всей России
			.contacts
				a(href="tel:88005505757").phone 
					| 8 (800) 550-57-57
					br
					span.phone__for-free
						|	Бесплатный звонок по всей России
			.city Ваш город: 
				a(href="") Санкт-Петербург