<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title 
	meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no") 
	link(rel="stylesheet", href="css/reset.css") 
	link(rel="stylesheet", href="vendors/vendors.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="css/font-awesome.min.css")
	link(rel="stylesheet", href="css/style.css")
body.msk
	block content