header#header
	.burger-menu
		.burger
	.content
		nav
			a(href="#").logo
				img(src="img/logo.png", alt="logo")
				.logo__text
					| Легко. Для своих
			ul.menu
				li.menu--item.hide__xl
					.logo__text__xs
						| Легко. Для своих
				li.menu--item
					a(href="#job") Направления
				li.menu--item
					a(href="#career") Вакансии
				li.menu--item
					a(href="#section-4") О компании
				li.menu--item
					a(href="#open") Постройте карьеру
				li.menu--item.language
					a.menu--item__lang Русский
					.js-list-language
						ul.list
							li
								a(data-language='rus').change-lang Русский
							li
								a(data-language='taj').change-lang Tajik
							li
								a(data-language='uzb').change-lang o'zbek
							li
								a(data-language='kyr').change-lang Кыргызча
				li.menu--item.hide__xl
					.contacts
						a(href="tel:88005505757").phone 
							| 8 (800) 550-57-57
							br
							span.phone__for-free
								|	Бесплатный звонок по всей России
			.contacts
				a(href="tel:88005505757").phone 
					| 8 (800) 550-57-57
					br
					span.phone__for-free
						|	Бесплатный звонок по всей России
			.city Ваш город: 
				a.city-change Москва
				.js-list
					.list
						a(data-city='msk').change Москва
						a(data-city='spb').change Санкт-Петербург
						a(data-city='vld').change Владивосток
						a(data-city='irc').change Иркутск