section#job.job.content
	.tabs
		ul.job--depth-1
			li
				a.junior(href='#tabs-1') Пройти стажировку
			li
				a.start(href='#tabs-2') Начать карьеру
			li
				a.prof(href='#tabs-3') Профессионалам
		#tabs-1
			.tabs.content
				ul.job--depth-2
					li
						a(href='#depth-1') Маркетолог
					li
						a(href='#depth-2') Ведущий бухгалтер
					li
						a(href='#depth-3') Специалист по качеству
					li
						a(href='#depth-4') Руководитель
							br
							| службы безопасности
				#depth-1
					h2 Маркетолог
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
							button.btn__red Отправить заявку
							h2
								| Люди - самое ценное,
								br
								| что у нас есть!
							img(src="img/team.jpg", alt="")
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
				#depth-2
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
				#depth-3
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
				#depth-4
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
		#tabs-2
			.tabs.content
				ul.job--depth-2
					li
						a(href='#depth-1') Маркетолог
					li
						a(href='#depth-2') Ведущий бухгалтер
					li
						a(href='#depth-3') Специалист по качеству
					li
						a(href='#depth-4') Руководитель
							br
							| службы безопасности
				#depth-1
					h2 Маркетолог
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
				#depth-2
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
				#depth-3
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
				#depth-4
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
		#tabs-3
			.tabs.content
				ul.job--depth-2
					li
						a(href='#depth-1') Маркетолог
					li
						a(href='#depth-2') Ведущий бухгалтер
					li
						a(href='#depth-3') Специалист по качеству
					li
						a(href='#depth-4') Руководитель
							br
							| службы безопасности
				#depth-1
					h2 Маркетолог
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
				#depth-2
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
				#depth-3
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
				#depth-4
					.full
						.semi
							h6 Обязанности:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
									ul.normal.normal__depth-2
										li контекстная реклама, ведение аналитики по данным Yandex, Google Analytics;
										li организация, реализация и контроль рекламных кампаний на Интернет-ресурсах;
										li контекстная реклама, вее
										li работа с сайтом: формирование заданий дизайнерам и разработчикам, контроль реализации;
							h6 Адрес
							p Санкт-Петербург, Сердобольская улица, 64литК, м. Чёрная речка
							a(href="#") Показать на карте
						.semi
							h6 Тебования:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
							br
							h6 Условия:
							br
							ul.normal
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
								li формирование маркетинговой стратегии, годовых бизнес-планов
								li интернет-маркетинг:
	.job--hot Горячая вакансия!