section#open.open
	h4 Открытые вакансии
	.text__center
		img(src="img/open.png", alt="")
	.open--job.content
		.open--main
			h3 Головной офис
			ul
				li Директор департамента
				li Руководитель отдела
				li Ведущий специалист
				li Главный специалист
				li Специалист
				li Стажер
		.open--slave
			h3 Головной офис
			ul
				li Управляющий офисом
				li Заместитеть управляющего офисом
				li Администратор
				li Кредитный менеджер
				li.active Стажер
					button Откликнуться