section#open.open
	h4 Открытые вакансии
	.text__center
		img(src="img/open.png", alt="")
	.open--job.content
		.open--main
			h3 Головной офис
			ul
				li(data-job="prof") Директор департамента
					button Откликнуться
				li(data-job="prof") Руководитель отдела
					button Откликнуться
				li(data-job="prof") Ведущий специалист
					button Откликнуться
				li(data-job="prof") Главный специалист
					button Откликнуться
				li(data-job="start") Специалист
					button Откликнуться
				li(data-job="junior") Стажер
					button Откликнуться
		.open--slave
			h3 Головной офис
			ul
				li.js-job(data-job="prof") Управляющий офисом
					button Откликнуться
				li.js-job(data-job="prof") Заместитеть управляющего офисом
					button Откликнуться
				li.js-job(data-job="prof") Администратор
					button Откликнуться
				li.js-job.active(data-job="start") Кредитный менеджер
					button Откликнуться
				li.js-job(data-job="junior") Стажер
					button Откликнуться