section#open.open
	h4 Открытые вакансии
	.text__center
		img(src="img/open.png", alt="")
	.open--job.content
		.open--main
			h3 Головной офис
			ul
				li(data-job="prof" data-depth-2="") Директор департамента
					button Откликнуться
				li(data-job="prof" data-depth-2="") Руководитель отдела
					button Откликнуться
				li(data-job="prof" data-depth-2="") Ведущий специалист
					button Откликнуться
				li(data-job="prof" data-depth-2="") Главный специалист
					button Откликнуться
				li(data-job="start" data-depth-2="") Специалист
					button Откликнуться
				li(data-job="junior" data-depth-2="") Стажер
					button Откликнуться
		.open--slave
			h3 Головной офис
			ul
				li.js-job(data-job="prof" data-depth-2="") Управляющий офисом
					button Откликнуться
				li.js-job(data-job="prof" data-depth-2="") Заместитеть управляющего офисом
					button Откликнуться
				li.js-job(data-job="prof" data-depth-2="") Администратор
					button Откликнуться
				li.js-job.active(data-job="start" data-depth-2="test1") Кредитный менеджер
					button Откликнуться
				li.js-job(data-job="junior" data-depth-2="") Стажер
					button Откликнуться