section#section-4.review 
	.content
		h3 Отзывы наших сотрудников
		.owl-carousel.slider
			- for(var i = 0; i < 4; i++)
				.review--item
					article
						iframe(width='311', height='219', src='https://www.youtube.com/embed/VoA-aQu75Xk', frameborder='0', allowfullscreen='')
						.review--item--author Асмира
						p.text__center О работе в банке
	section
		p Больше вакансий на сайте
		br
		a.baibol(href="https://baibol.ru/") baibol.ru
		a.button(href="https://baibol.ru/") Перейти