@import '../variables.styl'

.job
	padding-top 150px
	+media(1100px)
		padding-top 300px
	button
		margin-top 50px
	&--hot
		position absolute
		right 0
		top 63px
		width 284px
		height 63px
		border-radius 5px
		border 1px solid #e31e23
		background-color #ffffff
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		padding-left 35px
		align-items center
		color #e31e23
		font-size 24px
		font-weight 700
		+media(1100px)
			top 170px
			left 0
			margin 0 auto
		&::after
			content ''
			display inline-block
			background: url('../img/hot.png') center no-repeat
			background-size 100%
			width 55px
			height 91px
			position absolute
			right 5%
			top -30px
	h2
		text-align left
		font-weight 400
		margin-top 72px
		font-size 46px
		+media(768px)
			margin-bottom 0
			text-align center
	h6
		color #e31e23
	&--depth-1
		width 100%
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		align-items center
		+media(960px)
			flex-direction column
			align-items center
			justify-content center
		li
			width 32%
			height 231px
			box-shadow 0 17px 50px 12px rgba(0, 0, 0, 0.05)
			border-radius 7px
			background-color #ffffff
			opacity 0.8
			color #404040
			font-family "Vida22Pro"
			font-size 30px
			font-weight 400
			+media(960px)
				width 50%
				margin 1em 
			&.ui-state-active
				background: url('../img/active.jpg') center no-repeat
				background-size cover
				a
					color #a0142d
			a
				position absolute
				left 0
				top 0
				width 100%
				height 100%
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				justify-content center
				align-items center
				position relative
	&--depth-2
		width 100%
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		align-items center
		margin-top 72px
		+media(960px)
			flex-wrap wrap
		li
			height 63px
			border-radius 5px
			border 1px solid #e31e23
			width 24%
			position relative
			+media(960px)
				width calc(50% - 2em)
				margin 1em
			+media(480px)
				width 100%
			&.ui-state-active
				background-color #a0142d
				a
					color #fff
			a
				position absolute
				width 100%
				height 100%
				left 0
				top 0
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				justify-content center
				align-items center
				font-family "Vida21Pro"
				font-size 20px
				font-weight 400
				color #404040
				text-align center				
.full
	padding 1em
	padding-bottom 0
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
	align-items flex-start
	+media(768px)
		flex-direction column-reverse 
.semi
	width 45%
	position relative 
	+media(768px)
		width 100%
		text-align center
		margin: 1em 0
	a
		color #404040
		font-family "Vida21Pro"
		text-decoration underline
		margin-top -.5em
	img
		width 150%
		position absolute
		bottom 0
		right -150%
		+media(768px)
			position relative
			right auto
			top auto
			width 100%
.normal
	display block
	li
		&::before
			content ''
			width 7px
			height 7px
			display inline-block
			background #e31e23
			border-radius 50% 
			margin-left -1em
			margin-right .5em
			
	&__depth-2
		margin-left 1em
		margin-top 1em
		margin-bottom 1em
		li
			&::before
				content ''
				background #a7a7a7
				
.btn__red
	width 130px
	height 19px
	color #ffffff
	font-family "Vida22Pro"
	font-size 20px
	font-weight 400
	display block
	margin-top 90px