@import '../variables.styl'

.top
	margin-top 136px
	position relative
	+media(640px)
		margin-top 175px
	img
		width 100%
		+media(480px)
			width 150%
			margin-left -25%
	&--team
		width 438px
		height 250px
		border-radius 7px
		background-color #e31e23
		background-color #e50c0c
		position absolute
		z-index 1
		bottom -125px
		left 0
		right 0
		margin 0 auto
		color #fffefe
		font-family "Vida22Pro"
		font-size 55px
		font-weight 400
		text-align center
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content center
		align-items center
		flex-direction column
		+media(1100px)
			position relative
			top 0
			bottom 0
			margin-bottom -125px
		+media(480px)
			width 100%
			font-size 40px
	.btn__top-team
		width 194px
		height 45px
		border-radius 5px
		background-color #ffffff
		margin 0 auto
		color #e31e23
		font-family "Vida22Pro"
		font-size 20px
		font-weight 700
		margin-top 1em